.cointainer {
  display: inline-block;
  margin: auto;
}

.App {
  text-align: center;
  position: relative;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}
